<div class="register">
  <mat-card>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="register()">
        <h1>Register</h1>
        <mat-form-field>
        <input matInput type="name" [(ngModel)]="name" name="name" placeholder="Name" required="required" />
        </mat-form-field>
        <mat-form-field>
        <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" />
        </mat-form-field>
        <mat-form-field>
        <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required" />
        </mat-form-field>
        <mat-form-field>
        <input matInput type="password" [(ngModel)]="confirmPassword" name="password" placeholder="Repeat the password"
          required="required" />
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">Register</button>
      </form>
   </mat-card-content>
  </mat-card>
</div>
