<!-- NO AUTH REQUIRED -->
<div class="navegation" *ngIf="showNoAuthSection">
  <mat-toolbar color="primary">
    <span>Red Social</span>
    <button mat-button (click)="home()">Inicio</button>
    <button mat-button (click)="login()">Login</button>
    <button mat-button (click)="register()">Registro</button>
  </mat-toolbar>
</div>

<!-- AUTH REQUIRED -->
<div class="navegation" *ngIf="showAuthSection">
  <mat-toolbar color="primary">
    <span>Red Social</span>
    <button mat-button (click)="home()">Inicio</button>
    <button mat-button (click)="profile()">Perfil</button>
    <button mat-button (click)="admin()">Admin</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
</div>
