* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main { font-family: 'Alegreya', serif; }
table {
  width: 100%;
  border-collapse: collapse;
}
td, 
th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
td { cursor: pointer; }
tr:nth-child(even) { background-color: #ddd; }
span { font-style: italic; }
mat-grid-tile { padding: 2rem; }
.comments { margin-top: 5%; }
.container {
  padding: 1rem;
  margin: auto;
  text-align: center;
}
li {
  display: inline-block;
  padding-bottom: 0;
  list-style: none;
  cursor: pointer;
}
