* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Alegreya', serif;
}
span {
  font-style: italic;
}
.container {
  text-align: center;
  margin:auto;
  display: grid;
  padding: 1rem;
  max-width: 600px;
}
.container ul {
  grid-column-start: 1;
}
.container figure img {
  width: 100%;
}
.author cite {
  text-decoration: none;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 800;
}
.block >p {
  font-size: 1.25rem;
  font-weight: 800;
}
.block >p::before {
  display: inline-block;
  content: "";
  border-top: .35rem solid rgb(64,81,181);
  width: 1.45rem;
  margin-right: .25rem;
  transform: translateY(-0rem);
}
.author blockquote {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.author blockquote p {
  font-size: 1.185rem;
  font-style: italic;
}
.list-posts figcaption {
  background: rgba(0,0,0,0.1);
  padding: 1rem;
}
.list-posts figure {
  display: grid;
  grid-template-areas:
      "figcaption"
      "image";
  text-align: left;
  padding-bottom: 1.5rem;
}
.list-posts img {
  grid-area: image;
}
.list-posts figcaption {
  grid-area: figcaption;
}
.list-posts li {
  padding-bottom: 0;
  list-style: none;
  cursor: pointer;
}
.list-posts {
  padding-bottom: 2rem;
}
.list-posts-icon mat-icon {
  cursor: pointer;
  transform: scale(1.5);
  color: rgb(64,81,181);
}

.list-posts-title {
  text-align: left;
  float: left;
}
.list-posts-icon {
  text-align: left;
  padding: .25rem 1.25rem 0 5rem;
}
/* Diseño mobile first, diseñamos para móvil y ya cambiamos para otros tamaños */
@media screen and (min-width: 1024px) {
/* Haremos el cambio cuando sea mayor de 1024 */
  .author cite {
    font-size: 2rem;
    line-height: 2rem;
  }
  .list-posts figure {
    display: grid;
    grid-template-areas:
        "figcaption image";
    grid-template-columns: auto 20rem;
    text-align: left;
    padding-bottom: 0;
  }
  .container {
    padding: 0;
  }
  .list-posts h1 {
    padding-left: 0;
  }
  .list-posts {
    padding-left: 0;
    padding-right: 20%;
    padding-bottom: 5rem;
  }
  .list-posts .author {
    display: grid;
    grid-template-columns: 16rem auto;
    grid-gap: 15px;
    grid-template-areas:
        "cite bloque";
    padding-bottom: 0;
  }
  .list-posts figcaption {
    background-color: white;
    padding-left: 0;
    padding-bottom: 0;
  }
  .list-posts img  {
    padding: 1rem 1rem 0 0;
    height: 10rem;
    width: auto;
  }
  .list-posts .block {
    grid-area: bloque;
    background-color: rgba(0,0,0,.1);
    padding: 0 1rem 0 1rem;
    min-width: 22rem;
  }
  .list-posts cite {
    grid-area: cite;
    background-color: rgba(0,0,0,.1);
    padding: 1rem;
    height: 9rem;
    width: 16rem;
  }
 .list-posts-title {
    padding: 1rem;
    text-align: left;
  }
  .list-posts-icon {
    text-align: left;
    padding: 1.25rem 1.25rem 0 5rem;
  }
  .list-posts-icon mat-icon {
    transform: scale(1.5);
  }
}
