<p>home works!</p>

<div *ngFor="let post of Posts ">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>Likes: {{post.num_likes}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{post.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
