<div *ngIf="actual!=''" class="logout">
  <form class="logout-form">
    <h1>{{actual}}</h1>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </form>
</div>
<div *ngIf="actual===''" class="login">
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
    <div class="error">
      <p>{{message}}</p>
    </div>
  </mat-card>
</div>
