<div class="login">
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h2>Login</h2>
        <mat-form-field>
          <input name="email" matInput placeholder="Email" [(ngModel)]="email" required autocomplete="on">
        </mat-form-field>
        <mat-form-field>
          <input name="password" matInput type="password" placeholder="Contraseña" [(ngModel)]="password" required
            autocomplete="on">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
    <div class="error" [ngClass]="{'fade-in': loginFail, 'fade-out': !loginFail}">
      <p>{{message}}</p>
    </div>
  </mat-card>
</div>
