<div class="createPost">
  <mat-card>
    <mat-card-content>
      <form #createPostForm="ngForm" (ngSubmit)="createImage()">
        <h2>Crear Post</h2>
        <mat-form-field>
          <input name="title" matInput placeholder="Título" [(ngModel)]="title" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea name="description" matInput placeholder="Description" [(ngModel)]="description"></textarea>
        </mat-form-field>
        <button type="button" mat-raised-button (click)="fileInput.click()">Subir Imagen</button>
        <input hidden (change)="fileEvent($event)" #fileInput type="file">
        <span class="file-name">{{selectedFile?.name}}</span>
        <br><br>
        <button mat-raised-button color="primary" [disabled]="!createPostForm.form.valid">Aceptar</button>
      </form>
    </mat-card-content>
    <div class="error">
      <p>{{message}}</p>
    </div>
  </mat-card>
</div>
