<div class="profile">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="updateUser()">
        <h1>Perfil</h1>
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Nombre" required="required" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" formControlName="email" placeholder="Email" required="required" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="Contraseña" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="passwordConfirm" placeholder="Repite la contraseña" />
        </mat-form-field>
        <button mat-raised-button color="primary">Actualizar</button>
      </form>
    </mat-card-content>
    <div [ngClass]="{'fade-in': updateFail, 'fade-out': !updateFail}" class="error">
      <p>{{message}}</p>
    </div>
  </mat-card>
</div>
