<div class="profile">
  <mat-card>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="updateUser()">
        <h1>Perfil</h1>
        <mat-form-field>
          <input name="name" matInput type="name" [(ngModel)]="name" placeholder="Nombre" required="required" />
        </mat-form-field>
        <mat-form-field>
          <input name="email" matInput type="email" [(ngModel)]="email" placeholder="Email" required="required" />
        </mat-form-field>
        <mat-form-field>
          <input name="password" matInput type="password" [(ngModel)]="password" placeholder="Contraseña" />
        </mat-form-field>
        <mat-form-field>
          <input name="confirmPassword" matInput type="password" [(ngModel)]="confirmPassword"
            placeholder="Repite la contraseña" />
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
