<div class="profile">
  <mat-card>
    <mat-card-content>
      <form #registerForm="ngForm" (ngSubmit)="updateUser()">
        <h1>Perfil</h1>
        <mat-form-field>
          <input matInput type="name" [(ngModel)]="name" name="name" placeholder="Nombre" required="required" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="confirmPassword" name="password"
            placeholder="Repite la contraseña" />
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
