* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    font-family: 'Alegreya', serif;
  }

  span,p  {
    font-style: italic;
  }


  .container {
    text-align: center;
    margin:auto;
    display: grid;
    padding: 1rem;
    max-width: 600px;
  }
  .container-li {
    margin:auto;
    display: grid;
    padding: 1rem;
    max-width: 600px;
  }

  .container ul {
    grid-column-start: 1;
  }
  .container figure img{
    width: 100%;
  }

  .author cite {
    text-decoration: none;
    font-style: normal;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 800;
  }

  .block >p {
    font-size: 1.45rem;
    font-weight: 800;
  }
  .block >p::before {
        display: inline-block;
        content: "";
        border-top: .35rem solid rgb(64, 81, 181);
        width: 1.75rem;
        margin-right: 0.25rem;
        transform: translateY(-0rem);
  }

  mat-icon {
    color:rgb(64, 81, 181);
  }
  .comment-li {
    background: rgba(0,0,0,0.1);
    padding: 1%;

  }
  .right-li {
    float: right;
  }
  .left-li {
    float: left;
    padding-top: 0.5%;
    padding-right: 0.5%;
  }
  .comment-panel {
    padding: 1%;
    padding-bottom: 0;
  }
  .comment-panel * {
    margin-right: 1%;
  }
  .comment-panel h4 span {
    letter-spacing: 1px;
  }
  .comment-panel h4  {
    letter-spacing: 5px;
    padding-left: 1%;
  }

  .author blockquote {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .author blockquote p {
    font-size: 1.185rem;
    font-style: italic;
  }
  .list-posts figcaption {
    padding: 1rem;
  }
  .list-posts figure {
    display:grid;
    grid-template-areas:
        "figcaption"
        "image";
    text-align: left;
    padding-bottom: 0.5rem;
    background: rgba(0,0,0,0.1);
  }
  .list-posts img {
    grid-area: image;

  }
  .list-posts figcaption {
    grid-area: figcaption;
  }
  .list-posts li {
    padding-bottom: 0;
    list-style: none;
  }

  .list-posts {
    padding-bottom: 2rem;
  }






