<main class="list-posts">
  <ul class="container">
    <li *ngIf="post">
      <figure>
        <img src="./image/{{post.image.src}}" alt="post photo">
        <div class="comment-panel">
          <mat-icon title="Me gusta" *ngIf="this.likes&&!testLike()" class="pointer"
            (click)="createLike()">favorite_border</mat-icon>
          <mat-icon title="Ya no me gusta" *ngIf="this.likes&&testLike()" class="pointer"
            (click)="deleteLike()">favorite</mat-icon>
          <mat-icon title="Comentar" (click)="isEditing(0,'post')" class="pointer">insert_comment</mat-icon>
          <mat-icon title="Editar" *ngIf="this.actual&&post.user.id == this.actual.id" (click)="isEditing(0,'main')"
            class=" pointer">edit</mat-icon>
          <mat-icon title="Borrar" *ngIf="this.actual&&this.actual.admin||this.actual&&post.user.id == this.actual.id"
            (click)="deletePost(post.data.id)" class="pointer">delete</mat-icon>
          <mat-icon title="Reportar" *ngIf="!post.data.reported" class="pointer"
            (click)="reportPost(post)">info</mat-icon>
          <mat-icon title="En revisión" *ngIf="post.data.reported" style="color:black">info</mat-icon>
          <h4>{{post.data.num_likes}} <span>Me gusta</span></h4>
        </div>
        <app-post-form *ngIf="this.activeMain" [initialTitle]="post.data.title"
          [initialDescription]="post.data.description" (handleSubmit)="
                    updatePost($event, post.data)">
        </app-post-form>
        <app-comment-form *ngIf="this.activePost" (handleSubmit)="
                createComment($event, post.data.id)">
        </app-comment-form>
        <figcaption>
          <div class="author">
            <cite>{{post.data.title}}</cite>
            <div class="block">
              <blockquote>
                <p lang="es">
                  {{post.data.description}}
                </p>
              </blockquote>
              <p>{{post.user.name}} ({{post.user.email}}) </p>
            </div>
          </div>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul class="container-li" *ngFor="let comment of comments; let i = index">
    <div class="comment-li">
      <li *ngIf="comment">
        <div class="right-li">
          <mat-icon title="Editar"
            *ngIf="this.actual&&comment.data.reported === 0 && comment.user.id === this.actual.id"
            (click)="isEditing(comment.data.id,'comment')" class="pointer">edit</mat-icon>
          <mat-icon title="Borrar"
            *ngIf="this.actual&&this.actual.admin||this.actual&&comment.user.id == this.actual.id"
            (click)="delete(comment.data.id,i)" class="pointer">delete</mat-icon>
          <mat-icon title="Reportar" *ngIf="!comment.data.reported" class="pointer"
            (click)="reportComment(comment,i)">info</mat-icon>
          <mat-icon title="En revisión" *ngIf="comment.data.reported" style="color:black">info</mat-icon>
        </div>
        <div class="left-li">
          <mat-icon>person</mat-icon>
        </div>
        <div>
          <h2>{{comment.user.name}} ({{comment.user.email}})</h2>
          <p>{{comment.data.content}} </p>
          <app-comment-form *ngIf="this.activeComment === comment.data.id" [initialText]="comment.data.content"
            (handleSubmit)="
                        updateComment($event, comment.data)">
          </app-comment-form>
        </div>
    </div>
  </ul>
</main>
