<main class="list-posts">
  <ul class="container">
    <li *ngIf="post">
      <figure>
        <img src="./image/{{post.image.src}}" alt="foto post {{post.data.id}}">
        <div class="comment-panel">
          <mat-icon class="pointer" *ngIf="this.likes&&!isLiked" (click)="createLike()"
            title="Me gusta">favorite_border</mat-icon>
          <mat-icon class="pointer" *ngIf="this.likes&&isLiked" (click)="deleteLike()"
            title="Ya no me gusta">favorite</mat-icon>
          <mat-icon class="pointer" (click)="isEditing(0,'post')" title="Comentar">insert_comment</mat-icon>
          <mat-icon class="pointer" *ngIf="this.actual&&post.user.id == this.actual.id" (click)="isEditing(0,'main')"
            title="Editar">edit</mat-icon>
          <mat-icon class="pointer" *ngIf="this.actual&&this.actual.admin||this.actual&&post.user.id == this.actual.id"
            (click)="deletePost(post.data.id)" title="Borrar">delete</mat-icon>
          <mat-icon class="pointer" *ngIf="!post.data.reported" (click)="reportPost(post)"
            title="Reportar">info</mat-icon>
          <mat-icon *ngIf="post.data.reported" (click)="unReportPost(post)" style="
            color:black" title="En revisión">info</mat-icon>
          <h4>{{post.data.num_likes}} <span>Me gusta</span></h4>
        </div>
        <app-post-form *ngIf="this.activeMain" [initialTitle]="post.data.title"
          [initialDescription]="post.data.description" (handleSubmit)="
                    updatePost($event, post.data)">
        </app-post-form>
        <app-comment-form *ngIf="this.activePost" (handleSubmit)="
                createComment($event, post.data.id)">
        </app-comment-form>
        <figcaption>
          <div class="author">
            <cite>{{post.data.title}}</cite>
            <div class="block">
              <blockquote>
                <p lang="es">
                  {{post.data.description}}
                </p>
              </blockquote>
              <p>{{post.user.name}} ({{post.user.email}}) </p>
            </div>
          </div>
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul class="container-li" *ngFor="let comment of comments; let i = index">
    <div class="comment-li">
      <li *ngIf="comment">
        <div class="right-li">
          <mat-icon class="pointer" *ngIf="this.actual&&!comment.data.reported && comment.user.id === this.actual.id"
            (click)="isEditing(comment.data.id,'comment')" title="Editar">edit</mat-icon>
          <mat-icon class="pointer"
            *ngIf="this.actual&&this.actual.admin||this.actual&&comment.user.id == this.actual.id"
            (click)="delete(comment.data.id,i)" title="Borrar">delete</mat-icon>
          <mat-icon class="pointer" *ngIf="!comment.data.reported" (click)="reportComment(comment,i)"
            title="Reportar">info</mat-icon>
          <mat-icon *ngIf="comment.data.reported" (click)="unReportComment(comment,i)" style="color:black"
            title="En revisión">info</mat-icon>
        </div>
        <div class="left-li">
          <mat-icon>person</mat-icon>
        </div>
        <div>
          <h2>{{comment.user.name}} ({{comment.user.email}})</h2>
          <p>{{comment.data.content}} </p>
          <app-comment-form *ngIf="this.activeComment === comment.data.id" [initialText]="comment.data.content"
            (handleSubmit)="
                        updateComment($event, comment.data)">
          </app-comment-form>
        </div>
    </div>
  </ul>
</main>
